<div class="contenedor">
	<div class="col-1"><h4>Logros</h4></div>
	<div class="col-10"></div>
	<div class="col-1"><a  *ngIf="isUserLogged" href="#"  class="editar fa fa-plus" (click)="nuevoLogro()" data-bs-toggle="modal" data-bs-target="#guardar-logros" title="Nuevo logro"></a></div>
	<div class="container-fluid">
		<ul>
			<li *ngFor="let logro of logrosList , let i=index">
				<div class="container">
					<div class="card">
							<div class="card-body">
								<div class="img">
									<img *ngIf="logro.imagen == '' " src="../../../assets/imagen.png" alt="logo de logro">
									<img *ngIf="logro.imagen !== '' " [src]="logro.imagen" alt="imagen de Logro">
								</div>
										<p class="card-text"><b>Título: </b>{{logro.titulo}}</p>
										<p class="card-text"><b>Institución: </b>{{logro.institucion}}</p>
										<p class="card-text"><b>Lugar: </b>{{logro.lugar}}</p>
										<p class="card-text"><b>Fecha: </b>{{logro.fecha}}</p>
										<p class="card-text"><b>Url: </b><a [href]="logro.url" target="_blank">{{logro.url}}</a></p>
										<a *ngIf="isUserLogged" href="#" (click)="seleccionarYBorrar(i)" class="editar fa fa-trash"   title="Eliminar logro"></a>																			
										<a *ngIf="isUserLogged" href="#" (click)="seleccionarYEditar(i)" class="editar fa fa-edit" data-bs-toggle="modal" data-bs-target="#guardar-logros" title="Editar logro"></a>
							</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<!--- modal guardar-Logros-->
<div class="modal fade" id="guardar-logros" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="guardar-logros">Logros</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<input type="hidden" name="id" formControlName="id">
			<label for="titulo">Título: </label>
			<input  type="text" class="form-control" formControlName="titulo" ><br>
			<label for="institucion">Institución: </label>
			<input  type="text" class="form-control" formControlName="institucion"><br>
			<label for="lugar">Lugar: </label>
			<input  type="text" class="form-control" formControlName="lugar"><br>
			<label for="fecha">Fecha: </label>
			<input  type="date" class="form-control" formControlName="fecha"><br>
			<label for="url">Url: </label>
			<input  type="text" class="form-control" formControlName="url"><br>
			<label for="imagen">Imagen: </label>
			<input  type="text" class="form-control" formControlName="imagen"><br>
			
		<div class="modal-footer">
		<button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
		</div>
	
	</div>
	
	</div>

</div>

