<div class="container">
	<div class="col-10"><h4>Logros</h4></div>
	<div class="col-2"><a  *ngIf="isUserLogged" href="#"  class="editar fa fa-plus" (click)="nuevoLogro()" data-bs-toggle="modal" data-bs-target="#guardar-logros" title="Nuevo logro"></a></div>
	
	<div class="row" *ngFor="let logro of logrosList , let i=index">
		<div class="conatiner">
			<div class="col-4">
				<img class="media-object" style="width:60px" *ngIf="logro.imagen == '' " src="../../../assets/imagen.png" alt="logo de logro">
				<img class="media-object" style="width:60px" *ngIf="logro.imagen !== '' " [src]="logro.imagen" alt="imagen de Logro">
			<div class="col8">
			<h4 class="media-heading">{{logro.titulo}}</h4>
			<p>{{logro.institucion}}</p>
			<p>{{logro.lugar}}</p>
			<p>{{logro.fecha}}</p>
			<p><a [href]="logro.url" target="_blank">{{logro.url}}</a></p>
			</div>
			<div class="media-footer text-muted" *ngIf="isUserLogged"></div>
			<a *ngIf="isUserLogged" href="#" (click)="seleccionarYBorrar(i)" class="editar fa fa-trash"   title="Eliminar logro"></a>																			
			<a *ngIf="isUserLogged" href="#" (click)="seleccionarYEditar(i)" class="editar fa fa-edit" data-bs-toggle="modal" data-bs-target="#guardar-logros" title="Editar logro"></a>
		</div>
		</div>
		
	</div>
</div>


<!--- modal guardar-Logros-->
<div class="modal fade" id="guardar-logros" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="guardar-logros">Logros</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<input type="hidden" name="id" formControlName="id">
			<label for="titulo">Título: </label>
			<input  type="text" class="form-control" formControlName="titulo" ><br>
			<label for="institucion">Institución: </label>
			<input  type="text" class="form-control" formControlName="institucion"><br>
			<label for="lugar">Lugar: </label>
			<input  type="text" class="form-control" formControlName="lugar"><br>
			<label for="fecha">Fecha: </label>
			<input  type="date" class="form-control" formControlName="fecha"><br>
			<label for="url">Url: </label>
			<input  type="text" class="form-control" formControlName="url"><br>
			<label for="imagen">Imagen: </label>
			<input  type="text" class="form-control" formControlName="imagen"><br>
			
		<div class="modal-footer">
		<button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
		</div>
	
	</div>
	
	</div>

</div>

