<div class="contenedor">
	<h4>Logros</h4>
	<div class="container-fluid">
		<ul>
			<li *ngFor="let logro of logrosList ; let i=index">
				<div class="container">
					<div class="card" style="width: 18rem;">
						<img [src]="logro.imagen" class="card-img-top" alt="Imagen de logros">
						<div class="card-body">
						  <h5 class="card-title">{{logro.tipo}}</h5>
						  <p class="card-text">{{logro.titulo}}</p>
						  <p class="card-text">{{logro.institucion}}</p>
						  <p class="card-text">{{logro.fecha}}</p>
						  <a href="#" class="btn btn-primary">Ver mas</a>  
						  <a  href="#" (click)="eliminarItem()" class="editar fa fa-trash" title="eliminar"></a>																			
						  <a  href="#" (click)="seleccionar(i)" class="editar fa fa-edit" data-bs-toggle="modal" data-bs-target="#editar-logros" title="editar"></a>
						</div>
				  </div>
				</div>
			</li>
		</ul>
	</div>
</div>
	<!-- Modal -->
	<div class="modal fade" id="editar-logros" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="editar-logros">Editar Logros</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<label for="tipo">Tipo: </label>
				<input  type="text" class="form-control" [(ngModel)]="item.tipo"><br>
				<label for="titulo">Titulo: </label>
				<input  type="text" class="form-control" [(ngModel)]="item.titulo"><br>
				<label for="institucion">Institución: </label>
				<input  type="text" class="form-control" [(ngModel)]="item.institucion"><br>
				<label for="fecha">Fecha</label>
				<input  type="text" class="form-control" [(ngModel)]="item.fecha"><br>		
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" (click)="guardarItem()">Guardar</button>
				
			</div>
		</div>
		</div>
	</div>
