<div class="contenedor">
	<div class="col-1"><h4>Proyectos</h4></div>
	<div class="col-10"></div>
	<div class="col-1"><a  *ngIf="isUserLogged" href="#"  class="editar fa fa-plus" (click)="nuevoProyecto()" data-bs-toggle="modal" data-bs-target="#guardar-proyectos" title="Nuevo proyecto"></a></div>
	<div class="container-fluid">
		<ul>
			<li *ngFor="let proyecto of proyectosList , let i=index">
				<div class="container">
					<div class="card">
							<div class="card-body">
								<div class="img">
									<img [src]="proyecto.imagen" alt="imagen de proyecto">
								</div>
										<p class="card-text"><b>Nombre: </b>{{proyecto.titulo}}</p>
										<p class="card-text"><b>Tipo: </b>{{proyecto.tipo}}</p>
										<p class="card-text"><b>Creado: </b>{{proyecto.creado}}</p>
										<p class="card-text"><b>Herramientas: </b>{{proyecto.herramientas}}</p>
                                        <p class="card-text"><b>Estado: </b>{{proyecto.estado}}</p>
                                        <p class="card-text"><b>Url: </b><a [href]="proyecto.url" target="_blank" >{{proyecto.url}}</a></p>
										<a *ngIf="isUserLogged" href="#" (click)="seleccionarYBorrar(i)" class="editar fa fa-trash"   title="Eliminar proyecto"></a>																			
										<a *ngIf="isUserLogged" href="#" (click)="seleccionarYEditar(i)" class="editar fa fa-edit" data-bs-toggle="modal" data-bs-target="#guardar-proyectos" title="Editar proyecto"></a>
							</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<!--- modal guardar-proyectos-->
<div class="modal fade" id="guardar-proyectos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="guardar-proyectos">Proyectos</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<input type="hidden" name="id" formControlName="id">
			<label for="titulo">Título: </label>
			<input  type="text" class="form-control" formControlName="titulo" ><br>
			<label for="tipo">Tipo: </label>
			<input  type="text" class="form-control" formControlName="tipo"><br>
			<label for="creado">Creado: </label>
			<input  type="text" class="form-control" formControlName="creado"><br>
			<label for="herramientas">Herramientas: </label>
			<input  type="text" class="form-control" formControlName="herramientas"><br>
            <label for="estado">Estado: </label>
			<input  type="text" class="form-control" formControlName="estado"><br>
            <label for="urls">Url: </label>
			<input  type="text" class="form-control" formControlName="url"><br>
			<label for="imagen">Imagen: </label>
			<input  type="text" class="form-control" formControlName="imagen"><br>
			
		<div class="modal-footer">
		<button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
		</div>
	
	</div>
	
	</div>

</div>

