<div class="container">
	
		<div class="col-11"><h4>Educación</h4></div>
		<div class="col-1"><a  *ngIf="isUserLogged" class="editar fa fa-plus" (click)="nuevaFormacion()" data-bs-toggle="modal" data-bs-target="#guardar-formacion"
								 title="Nueva educación"></a>
		</div>
	 
	<div class="row" *ngFor="let formacion of formacionList , let i=index">	
			
		<div class="container">
			<div class="card text-center">
				<div class="card-header">
					<img class="card-img-top" *ngIf="formacion.imagen == '' " src="../../../assets/imagen.png" alt="logo de institución">
					<img class="card-img-top" *ngIf="formacion.imagen !== '' "[src]="formacion.imagen" alt="logo de institución">
				</div>
				<div class="card-body">
				  <h5 class="card-title">{{formacion.titulo}}</h5>
				  <p class="card-text">{{formacion.institucion}}</p>
				  <p class="card-text">{{formacion.lugar}}</p>
				  <p class="card-text">{{formacion.fecha}}</p>
				</div>
				<div class="card-footer text-muted" *ngIf="isUserLogged">
					<a  (click)="seleccionarYBorrar(i)" class="editar fa fa-trash"  
														title="Eliminar educación"></a>																			
					<a  (click)="seleccionarYEditar(i)" class="editar fa fa-edit"
													   data-bs-toggle="modal" data-bs-target="#guardar-formacion" 
													   title="Editar educación"></a>
				</div>
			</div>
		</div>
</div>

		
			


<!--- modal guardar-formacion-->
<div class="modal fade" id="guardar-formacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="guardar-formacion">Educación</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<input type="hidden" name="id" formControlName="id">
			<label for="titulo">Título: </label>
			<input  type="text" class="form-control" formControlName="titulo" ><br>
			<label for="institucion">Institución: </label>
			<input  type="text" class="form-control" formControlName="institucion"><br>
			<label for="lugar">Lugar: </label>
			<input  type="text" class="form-control" formControlName="lugar"><br>
			<label for="fecha">Fecha: </label>
			<input  type="text" class="form-control" formControlName="fecha"><br>
			<label for="imagen">Imagen: </label>
			<input  type="text" class="form-control" formControlName="imagen"><br>
			
		<div class="modal-footer">
		<button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
		</div>
	
	</div>
	
	</div>

</div>

