
<div class="contacto">
    <div id="contacto">
        <div class="contenedor-formularios">
            <h2 class="tituloformulario">Registro de Usuario</h2>
            <br>
				<hr>
              <form  [formGroup]="form" (ngSubmit)="onSubmit($event)">
                <input type="text" placeholder="Ingrese su nombre"  formControlName="nombre" class="form-control" >
               
                <input type="text" placeholder="Ingrese su email"  formControlName="email" class="form-control" >
               
                <input type="password" placeholder="Ingrese su contraseña"  formControlName="password" class="form-control" required>
                
                <label for="isenabled" class="parrafoformulario">Acepto los términos y condiciones </label>
                <input type="checkbox" [value]="true" formControlName="isenabled" class="check" id="isenabled">
             
        <button type="submit" class="btn btn-primary me-3">Registrarme</button>
        <button routerLink="/home" class="btn btn-primary">Cancelar</button>
    </form>
        </div>
    </div>
</div>

