
<div class="contenedor">
	<div class="col-1"><h4>Experiencia</h4></div>
	<div class="col-10"></div>
	<div class="col-1"><a  *ngIf="isUserLogged" href="#"  class="editar fa fa-plus" (click)="nuevaExperiencia()" data-bs-toggle="modal" data-bs-target="#guardar-experiencia" title="nuevo"></a></div>
	<div class="container-fluid">
		<ul>
			<li *ngFor="let experiencia of experienciaList , let i=index">
				<div class="container">
					<div class="card">
	  					<div class="card-header">
								<b>{{experiencia.puesto}}</b>
	 					</div>
							<div class="card-body">
								<div class="img">
									<img [src]="experiencia.imagen" alt="logo de institución">
								</div>
										<p class="card-text"><b>Lugar: </b>{{experiencia.lugar}}</p>
										<p class="card-text"><b>Desde: </b>{{experiencia.desde}}</p>
										<p class="card-text"><b>Desde: </b>{{experiencia.hasta}}</p>

										<a *ngIf="isUserLogged" href="#" (click)="seleccionarYBorrar(i)" class="editar fa fa-trash"   title="eliminar"></a>																			
										<a *ngIf="isUserLogged" href="#" (click)="seleccionarYEditar(i)" class="editar fa fa-edit" data-bs-toggle="modal" data-bs-target="#guardar-experiencia" title="editar"></a>
							</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<!--- modal guardar-experiencia-->
<div class="modal fade" id="guardar-experiencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="guardar-experiencia">Experiencia</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<input type="hidden" name="id" formControlName="id">
			<label for="titulo">Puesto: </label>
			<input  type="text" class="form-control" formControlName="puesto" ><br>
			<label for="institucion">Lugar: </label>
			<input  type="text" class="form-control" formControlName="lugar"><br>
			<label for="lugar">Desde: </label>
			<input  type="text" class="form-control" formControlName="desde"><br>
			<label for="fecha">Hasta: </label>
			<input  type="text" class="form-control" formControlName="hasta"><br>
			<label for="imagen">Imagen: </label>
			<input  type="text" class="form-control" formControlName="imagen"><br>
			
		<div class="modal-footer">
		<button type="submit" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
		</div>
	
	</div>
	
	</div>

</div>

