/* Make sure that padding behaves as expected */
* {
  box-sizing:border-box
}

/* Container for skill bars */
.container {
  max-width: 1200px;
}
.contenedor{
  background-color: aqua;
}

.skills {
  text-align: center; /* Right-align text */
  padding-top: 3px; /* Add top padding */
  padding-bottom: 3px; /* Add bottom padding */
  color: white; /* White text color */
}

.nivel {
  width: 2%;
  background-color: #34495E;
}
.barra{
  width: 100%;
  background-color: #ccc;
}

li{
    list-style: none;
}
.icon{
	color: #fff;
	font-size: 25px;
	margin: 0 10px;
	transition: 0.4s;
}
.editar{
	color: #000;
	font-size: 25px;
	margin: 0 10px;
	transition: 0.4s;
}
a{
    text-decoration: none;
    cursor: pointer;
}

