/* Make sure that padding behaves as expected */
* {
  box-sizing:border-box
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  max-width: 1200px;
}

.skills {
  text-align: center; /* Right-align text */
  padding-top: 3px; /* Add top padding */
  padding-bottom: 3px; /* Add bottom padding */
  color: white; /* White text color */
}

.nivel {
  width: 2%;
  background-color: #34495E;
}

li{
    list-style: none;
}

