<app-encabezado></app-encabezado>
<div class="contacto">
	<div id="contacto">
		<div class="contenedor-formularios">
				<h2 class="tituloformulario">CONTACTAME</h2>
				<p class="parrafoformulario">Complete el siguiente formulario, y a la brevedad me comunicaré con ud. </p>
				<hr>	
				<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
		     
		        	<input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
		        
		        	<input type="text" class="form-control" formControlName="Telefono"  placeholder="Teléfono">
		        
		        	<input type="text" class="form-control" formControlName="email"  placeholder="Correo electrónico">
		  
		        	<textarea class="form-control" formControlName="mensaje"  placeholder="Escriba aquí su mensaje" cols="30" rows="10"></textarea>
		        	<input type="submit" value="ENVIAR">
		        </form>
		</div>
	</div>
</div>