<div class="contacto">
	<div id="contacto">
		<div class="contenedor-formularios">
				<h2 class="tituloformulario">CONTACTAME</h2><br>
				<p class="parrafoformulario">Complete el siguiente formulario, y a la brevedad me comunicaré con ud. </p>
				<hr><br>	
       			 <form name="formularioContacto" action="" method="post">
		        	<label for="nombre"></label>
		        	<input type="text" name="Nombre" id="nombre" placeholder="Nombre">
		        	<label for="telefono"></label>
		        	<input type="text" name="Telefono" id="telefono" placeholder="Teléfono">
		        	<label for="email"></label>
		        	<input type="text" name="Correo" id="email" placeholder="Correo electrónico">
		        	<label for="mensaje"></label>
		        	<textarea name="mensaje" id="mensaje" placeholder="Escriba aquí su mensaje" cols="30" rows="10"></textarea>
		        	<input type="submit" value="ENVIAR" id="boton">
		        </form>
		</div>
	</div>
</div>