<div class="container">
	
	<div class="row" *ngFor="let info of infoPersonal, let i=index">
		
		<div class="col col-sm-6">
			<div class="row">
				<div class="col-10"><h3>Perfil</h3></div>
				<div class="col-2"><a  *ngIf="isUserLogged && info.nombrecompleto!=''" href="#"  class="editar fa fa-plus" (click)="nuevaPersona()" 
					data-bs-toggle="modal" data-bs-target="#nuevo-perfil" title="Nuevo perfil"></a></div>
			</div>
			<ul>
				<li><b>Nombre:     </b>{{info.nombrecompleto}}</li>
				<li><b>Edad:       </b>{{info.edad}}</li>
				<li><b>Ocupación:  </b>{{info.puesto}}</li>
				<li><b>Título:     </b>{{info.titulo}}</li>
				<li><b>Ciudad:     </b>{{info.ciudad}}</li>
				<li><b>País:       </b>{{info.pais}}</li>
				<li><b>E-mail:     </b>{{info.email}}</li>
				<li><b>Teléfono:   </b>{{info.telefono}}</li>
				<li><b>Hobby:      </b>{{info.hobby}}</li>
				<hr>
				<div class="redes">
					<ul>
					   <li *ngFor="let redes of redesList , let i=index">
						<a [href]="redes.url" class="icon fa fa-{{redes.nombre}}" target="_blank" title="{{redes.nombre}}"></a>
					   </li>
					   <a *ngIf="isUserLogged" href="#" routerLink="/editarredes" class="editar fa fa-pencil" title="Editar Redes sociales"></a>
					</ul>
				 </div>
			</ul> 	

		</div>
		<div class="imagendeperfil col col-sm-6 order-first">
			<img *ngFor="let img of infoPersonal" [src]="img.fotoperfil" alt="imagen del perfil" title="Imagen de perfil">						
		</div>
	</div>
	<div class="row" *ngFor="let info of infoPersonal, let i=index">
		<div class="col-12">
			<h2>Acerca de</h2>
			<p class="descripcion">{{info.descripcion}}
				<a  *ngIf="isUserLogged" href="#"(click)="seleccionarYEditar(i)" class="editar fa fa-pencil" 
						data-bs-toggle="modal" data-bs-target="#nuevo-perfil" title="Editar perfil"></a></p>
			
		</div>
		<hr>
	</div>
		