<div class="contenedor">
		<div id="info">
			<h3> A cerca de </h3>
				<div class="info">
					<ul>
						<li><strong>Nombre:</strong> {{infoPersonalList.nombrecompleto}}</li>
						<li><strong>Edad:</strong> {{infoPersonalList.edad}}</li>
						<li><strong>Puesto:</strong> {{infoPersonalList.puesto}}</li>
						<li><strong>Titulo Secundario:</strong> {{infoPersonalList.titulosecundario}}</li>
						<li><strong>Ciudad:</strong> {{infoPersonalList.ciudad}}</li>
						<li><strong>Pais:</strong> {{infoPersonalList.pais}}</li>
						<li><strong>Correo electrónico:</strong> {{infoPersonalList.email}}</li>
						<li><strong>Telefono:</strong> {{infoPersonalList.telefono}}</li>
						<li><strong>Hobby:</strong> {{infoPersonalList.hobby}}</li>
						<hr>
					</ul>
					<a [href]="infoPersonalList.github" class="icon fa fa-github" target="_blank"></a>
					<a [href]="infoPersonalList.linkedin" class="icon fa fa-linkedin" target="_blank"></a>
					<a [href]="infoPersonalList.Youtube" class="icon fa fa-youtube" target="_blank" title="El mundito de Gustavo Canal de YouTube"></a>
				</div>

				<div class="info">		

					    <img [src]="infoPersonalList.fotoperfil" alt="imagen del perfil" title="imagen del perfil">
				
						<!-- Button trigger modal -->
						<a  href="#" class="editar fa fa-edit" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></a>
			
			<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Editar</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
				
					<div class="modal-body">
						<label for="nombrecompleto">Nombre completo: </label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonalList.nombrecompleto"><br>
						<label for="edad">Edad: </label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonalList.edad"><br>
						<label for="puesto">Puesto Actual: </label>
						<input  type="text" class="form-control"  [(ngModel)]="infoPersonalList.puesto"><br>
						<label for="titulosecundario">Titulo Secundario</label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonalList.titulosecundario"><br>
						<label for="ciudad">Ciudad: </label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonalList.ciudad"><br>
						<label for="pais">Pais:</label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonalList.pais"><br>
						<label for="email">Correo electrónico:</label>
						<input type="text" class="form-control" [(ngModel)]="infoPersonalList.email"><br>
						<label for="telefono">Telefono:</label>
						<input type="text" class="form-control" [(ngModel)]="infoPersonalList.telefono"><br>
						<label for="Hobby">Pasatiempo:</label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonalList.hobby"><br>
						<label for="fotoperfil">Foto de perfil</label>
						<input  type="file" placeholder="subir foto de perfil" class="form-control" [(ngModel)]="infoPersonalList.fotoperfil">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" (click)="guardarItem()">Guardar</button>
						
					</div>
				</div>
				</div>
			</div>
				
							