<div class="contenedor">
		<div id="info">
			<h3> Perfil </h3>
				<div class="info">
					<ul>
						<li><strong>Nombre:</strong> {{infoPersonal.nombrecompleto}}</li>
						<li><strong>Edad:</strong> {{infoPersonal.edad}}</li>
						<li><strong>Ocupacion:</strong> {{infoPersonal.puesto}}</li>
						<li><strong>Titulo:</strong> {{infoPersonal.titulo}}</li>
						<li><strong>Ciudad:</strong> {{infoPersonal.ciudad}}</li>
						<li><strong>Pais:</strong> {{infoPersonal.pais}}</li>
						<li><strong>Correo electrónico:</strong> {{infoPersonal.email}}</li>
						<li><strong>Telefono:</strong> {{infoPersonal.telefono}}</li>
						<li><strong>Hobby:</strong> {{infoPersonal.hobby}}</li>
						<hr> 
					</ul>
					<div>
						<h4>A cerca de</h4>
						<p>{{infoPersonalAcercade.descripcion}}</p>
					</div>
					
				</div>

				<div class="info">		

					    <img [src]="infoPersonal.fotoperfil" alt="imagen del perfil" title="imagen del perfil">
				
						<!-- Button trigger modal -->
						<a  *ngIf="isUserLogged" href="#" class="editar fa fa-edit" data-bs-toggle="modal" data-bs-target="#staticBackdrop" title="Editar Perfil"></a>
			
			<!-- Modal -->
			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Editar</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
				
					<div class="modal-body">
						<label for="nombrecompleto">Nombre completo: </label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonal.nombrecompleto"><br>
						<label for="edad">Edad: </label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonal.edad"><br>
						<label for="puesto">Puesto Actual: </label>
						<input  type="text" class="form-control"  [(ngModel)]="infoPersonal.puesto"><br>
						<label for="titulosecundario">Titulo Secundario</label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonal.titulo"><br>
						<label for="ciudad">Ciudad: </label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonal.ciudad"><br>
						<label for="pais">Pais:</label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonal.pais"><br>
						<label for="email">Correo electrónico:</label>
						<input type="text" class="form-control" [(ngModel)]="infoPersonal.email"><br>
						<label for="telefono">Telefono:</label>
						<input type="text" class="form-control" [(ngModel)]="infoPersonal.telefono"><br>
						<label for="Hobby">Pasatiempo:</label>
						<input  type="text" class="form-control" [(ngModel)]="infoPersonal.hobby"><br>
						<label for="fotoperfil">Foto de perfil</label>
						<input  type="file" placeholder="subir foto de perfil" class="form-control" [(ngModel)]="infoPersonal.fotoperfil">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" (click)="guardarAcercade()">Guardar</button>
						
					</div>
				</div>
				</div>
			</div>
				
							