<div class="topnav">
	<div class="logo">
	 <img src="../../../assets/logo_argentinaPrograma (2).jpg" alt="Logotipo Argentina Programa" title="Logotipo Argentina Programa">
	 <a href="https://argentinaprograma.inti.gob.ar" target="blank">Argentina Programa - #YoProgramo</a>
	</div>
 
	<div class="menu">
	   <a routerLink="/home">Home</a>
	</div>
</div>

<div class="contenedor">
	<div class="col-4"><h4>Bandeja de entrada</h4></div>
	<div class="col-7"></div>
	<div class="col-1"></div>
	<div class="container-fluid">
		<ul>
			<li *ngFor="let correo of correoList , let i=index">
				<div class="container">
					<div class="card">
	  					<div class="card-body">
						<p class="card-text"><b>De: </b>{{correo.nombre}}</p>
                        <p class="card-text"><b>Correo electrónico: </b>{{correo.email}}</p>
                        <p class="card-text"><b>Teléfono: </b>{{correo.telefono}}</p>
                        <p class="card-text"><b>Mensaje: </b>{{correo.mensaje}}</p>
						<a *ngIf="isUserLogged" href="#" (click)="seleccionarYBorrar(i)" class="editar fa fa-trash"   title="Eliminar correo"></a>																			
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
