
<div class="login">
	<div id="login">
		<div class="contenedor-formularios">
				<h2 class="tituloformulario">Inicio de Sesión</h2><br>
			<hr>	
       			 <form action="" method="post">
		        	<label for="username"></label>
		        	<input type="text" name="username"  placeholder="Nombre de Usuario">
		        	<label for="password"></label>
		        	<input type="password" name="password"  placeholder="Contraseña">
		        	<input type="submit" value="ENVIAR" id="boton" routerLink="/main">
                   
		        </form>
		</div>
	</div>
</div>
