/*estilos de seccion formularios */
.contacto{
	margin-top: 100px;
	margin: auto;
	max-width: 1200px;
	background: #000;
}

#contacto{
	background: #34495E;
	width: 100%;
	max-width: 1200px;
	padding-top: 50px;
	padding-bottom: 120px;
	
}
.contenedor-formularios{
	width: 450px;
	margin: 20px auto;
	background: rgba(0, 0, 0, 0.4);
    padding: 40px 40px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

input, textarea{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border:  none;
}
textarea {
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}
.tituloformulario{
	color: #fff;
	text-align: center;
}
.parrafoformulario{
	color: #fff;
}
#boton {
	background-color: #31384A;
	color: #fff;
	padding: 20px;
	transition: 0.4s;
}
#boton:hover {
	background: #34495E;
	cursor: pointer;
}