
<div class="contacto">
    <div id="contacto">
        <div class="contenedor-formularios">
            <h2 class="tituloformulario">Inicio de sesión</h2>
            <p class="parrafoformulario">Ingrese su email y contraseña</p>
				<hr>
              <form [formGroup]="form" (ngSubmit)="onSubmit($event)">

                <input type="text" placeholder="Ingrese su email" name="email" formControlName="email" class="form-control" 
                [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched }"
                required>

                <div *ngIf="Email?.errors && Email?.touched">
                    <span *ngIf="Email?.hasError('required')" class="text-danger">El email es requerido.</span>
                    <span *ngIf="Email?.hasError('email')" class="text-danger">El email no cumple con el formato esperado.</span>
                </div>     
                <input type="password" placeholder="Ingrese su contraseña" name="password" formControlName="password" class="form-control" required>
    
        <div *ngIf="loginError" class="text-danger">Las credenciales ingresadas no existen en nuestros registros.</div> 
        
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary me-3">Iniciar sesión</button>
        <button routerLink="/main" class="btn btn-primary">Cancelar</button>
    </form>
        </div>
    </div>
</div>
