<div class="container-fluid">
    <div class="fotoPerfil"><img [src]="infoPersonal.fotoperfil" alt=""></div>
    <div class="card">
        <h4>Informacion Personal</h4>
        <ul>
            <li>{{"Nombre: " + infoPersonal.nombrecompleto}}</li>
            <li>{{"Edad: " + infoPersonal.edad}}</li>
            <li>{{"Puesto: " + infoPersonal.puesto}}</li>
            <li>{{"Ciudad: " + infoPersonal.ciudad}}</li>
            <li>{{"Pais: " + infoPersonal.pais}}</li>
            <li>{{"Telefono: " + infoPersonal.telefono}}</li>
            <li>{{"Correo electrónico: " + infoPersonal.email}}</li>
            <li>{{"Github: " + infoPersonal.github}}</li>
            <li>{{"Linkedin: " + infoPersonal.acercade.linkedin}}</li>
            <li>{{"Youtube: "+ infoPersonal.acercade.youtube}}</li>
        </ul>
    </div>
    <div class="card">
        <h4>Educacion</h4>
        <ul>
            <li *ngFor="let educacion of formacionList">
                
                    {{"Título: " + educacion.titulo}} <br>
                    {{"Institución: " + educacion.institucion}} <br>
                    {{"Lugar: " + educacion.lugar}} <br>
                    {{"Período: " + educacion.fecha}} <br>
                    <hr>
               
            </li>
        </ul>
    </div>

    <div class="card">
        <h4>Experiencia</h4>
        <ul>
            <li *ngFor="let experiencia of experienciaList">
                
                    {{"Puesto: " + experiencia.puesto}} <br>
                    {{"Lugar: " + experiencia.lugar}} <br>
                    {{"Desde: " + experiencia.desde + "Hasta: " + experiencia.hasta}} <br>
                    <hr>    
            </li>
        </ul>
        <h4>Logros</h4>
        <ul>
            <li *ngFor="let logros of logrosList">
                
                    {{"Titulo: " + logros.titulo}} <br>
                    {{"institución: " + logros.institucion}} <br>
                    {{"Lugar: " + logros.lugar}} <br>
                    {{"Fecha: " + logros.fecha}} <br>
                    <hr>    
            </li>
        </ul>
    </div>

</div>
