
img{
    width: 30%;
    border-radius: 50%;
    align-items: center;
    float: left;
    margin-top: 50px;
    border: solid #fff 2px;

}
.perfil {
  margin-left:auto;
  padding: 50px 50px;
  background-color: #34495E;
  color: #ddd;
}
.perfil b{
  color: #fff;
  margin: 0 auto;
}
ul, li{
text-align: left;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #34495E ;
    overflow: hidden;
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
  }
  
  /* Style the links inside the navigation bar */
  .topnav img{
    width: 50px;
    border-radius: 5px;
    float: left;
    margin: 5px 5px;
    
  }
  .topnav p{
    color: #fff;
    font-size:17px;
    float: left;
  }
  .topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
  }
  
  .topnav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li {
     list-style: none;
  }
  
  /* Change the color of links on hover */
  .topnav .logo a:hover {
    color: orange;
  }
  .topnav .menu a:hover {
    background-color: #ddd;
    color: black;
  }

  @media (max-width:450px) {
    .logo a{
      display: none;
    }
    .card img{
      display: none;
    }
    li{
      font-size: 12px;
     
    }
    .perfil{
      padding: 10px;
      margin: 0;
     
    }
  }
  
  
