<div class="container-fluid">
    <div class="fotoPerfil"><img [src]="infoPersonal.fotoperfil" alt=""></div>
    <div class="card">
        <h4>Informacion Personal</h4>
        <ul>
            <li>{{"Nombre: " + infoPersonal.nombrecompleto}}</li>
            <li>{{"Edad: " + infoPersonal.edad}}</li>
            <li>{{"Puesto: " + infoPersonal.puesto}}</li>
            <li>{{"Ciudad: " + infoPersonal.ciudad}}</li>
            <li>{{"Pais: " + infoPersonal.pais}}</li>
            <li>{{"Telefono: " + infoPersonal.telefono}}</li>
            <li>{{"Correo electrónico: " + infoPersonal.email}}</li>
           
        </ul>
    </div>
    <div class="card">
        <h4>Formación</h4>
        <ul>
            <li *ngFor="let formacion of formacionList">
                    {{"Título: " + formacion.titulo}} <br>
                    {{"Institución: " + formacion.institucion}} <br>
                    {{"Lugar: " + formacion.lugar}} <br>
                    {{"Período: " + formacion.fecha}} <br>
                    <hr>
            </li>
        </ul>
    </div>

    <div class="card">
        <h4>Experiencia</h4>
        <ul>
            <li *ngFor="let experiencia of experienciaList">
                    {{"Puesto: " + experiencia.puesto}} <br>
                    {{"Lugar: " + experiencia.lugar}} <br>
                    {{"Desde: " + experiencia.desde + "Hasta: " + experiencia.hasta}} <br>
                    <hr>    
            </li>
        </ul>
    </div>
    <div class="card">
        <h4>Logros</h4>
        <ul>
            <li *ngFor="let logros of logrosList">
                
                    {{"Titulo: " + logros.titulo}} <br>
                    {{"institución: " + logros.institucion}} <br>
                    {{"Lugar: " + logros.lugar}} <br>
                    {{"Fecha: " + logros.fecha}} <br>
                    <hr>    
            </li>
        </ul>
    </div>

</div>
