.container-fluid {
	margin-top: 55px;
	padding:40px;
	background-image: url(../../../assets/fondo-header.jpg);
	background-size: 100vw 100hw;
	max-width: 1200px;
	background-position: center;	
}

h1{
	font-size: 55px;
	color: #fff;
	margin-left: 10px;
}
h2{
	font-size: 45px;
	color: #fff;
	margin-left: 10px;

	color:#fff;
	text-shadow: 2px  0px 0px black,
				 0px  1px 0px black,
				-1px  0px 0px black,
				 0px -1px 0px black;
}
p{
	font-size: 30px;
	margin-left: 10px;

	color:#000;
	text-shadow: 1px  0px 0px #fff,
				 0px  1px 0px #fff,
				-1px  0px 0px #fff,
				 0px -1px 0px #fff;
}
button{
	padding:10px 15px;
	margin: 5px;
}
button:hover{
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	transition: 0.4s;
}
@media (max-width:530px) {
	h1{
		font-size: 35px;
	}
	h2{
		font-size: 25px;
	}
	p{
		font-size: 18px;		
	}
}
