<div class="container-fluid">
	<nav class="navbar bg-light fixed-top">
		<div class="container-fluid">
			<div class="logo">
				<a href="https://argentinaprograma.inti.gob.ar" target="blank">
				 <img src="../../../assets/logo_argentinaPrograma (2).jpg" alt="Logotipo Argentina Programa" title="Logotipo Argentina Programa"></a>
			</div>
			<div class="menu">
				<ul>
				    <li><button class="btn btn-outline-dark" *ngIf="!isUserLogged" routerLink="/login">Log-In</button></li>
			    	<li><button class="btn btn-outline-dark" *ngIf="isUserLogged"  routerLink="/home" (click)="logout()">Log-Out</button></li>
				  	<li><button class="btn btn-outline-warning" *ngIf="isUserLogged" routerLink="/bandejadeentrada">Correo</button></li>
				</ul>
			</div>
		</div>
	</nav>
</div>
