.logo a:hover {
  color: orange;
}
img{
  width: 50px;
  border-radius: 5px;
  float: left;
  margin: 5px 5px; 
}
a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-link:hover{
  font-size: 20px;
  color: #34495E;
}

@media (max-width:450px) {
.ocultar{
  display: none;
}
}
    
