
<div class="topnav" id="myTopnav">
     <div class="logo">
      <img src="../../../assets/logo_argentinaPrograma (2).jpg" alt="Logotipo Argentina Programa" title="Logotipo Argentina Programa">
      <a href="https://argentinaprograma.inti.gob.ar" target="blank">Argentina Programa - #YoProgramo</a>
     </div>
  
     <div class="menu">
        <a routerLink="/home">Home</a>
        <a *ngIf="isUserLogged" routerLink="/bandejadeentrada">Correo</a>
        <a *ngIf="!isUserLogged" routerLink="/login" >Iniciar sesión</a>
        <a *ngIf="isUserLogged"  routerLink="/home" (click)="logout()">Cerrar Sesión</a>
     </div>
</div>

    