
.logo a:hover {
  color: orange;
}
img{
  width: 50px;
  border-radius: 5px;
  float: left;
}

    
nav{
  background-color: #34495E;
	overflow: hidden;
}
nav ul{
	list-style: none;
}
nav ul li{
	float: right;
}
nav ul li a{
	display: block;
	color: #000;
	text-decoration: none;
}
nav ul li a:hover{
color: orange;
}
button{
  margin-left: 20px;
}

